body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: #4F4F4D;
}

.home-vid{
    position: absolute;
    left: 60%;
    top: 65%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}